In [1]:
import pandas as pd
import sqlite3
import os

In [11]:
if os.path.exists('my_database.db'):
        os.remove('my_database.db')

        
# sql_query = "SELECT COUNT(*) FROM df WHERE Dt_Customer > '2013-01-01' AND Complain = 1 AND Income > 50000"
sql_query = "SELECT COUNT(*) FROM df WHERE Dt_Customer > '2013-01-01' AND Complain = 1"
# sql_query = "SELECT count(*) FROM df WHERE NumDealsPurchases >10"

df = pd.read_csv("./ml_project1_data.csv")
df.fillna(0, inplace=True)
# Step 3: Create an SQLite database and table
conn = sqlite3.connect('my_database.db')
cursor = conn.cursor()



sqlite_data_types = {
    "ID": "INTEGER",
    "Year_Birth": "INTEGER",
    "Education": "TEXT",
    "Marital_Status": "TEXT",
    "Income": "INTEGER",
    "Kidhome": "INTEGER",
    "Teenhome": "INTEGER",
    "Dt_Customer":"DATE",
    "Recency": "INTEGER",
    "MntWines": "INTEGER",
    "MntFruits": "INTEGER",
    "MntMeatProducts": "INTEGER",
    "MntFishProducts": "INTEGER",
    "MntSweetProducts": "INTEGER",
    "MntGoldProds": "INTEGER",
    "NumDealsPurchases": "INTEGER",
    "NumWebPurchases": "INTEGER",
    "NumCatalogPurchases": "INTEGER",
    "NumStorePurchases": "INTEGER",
    "NumWebVisitsMonth": "INTEGER",
    "AcceptedCmp3": "INTEGER",
    "AcceptedCmp4": "INTEGER",
    "AcceptedCmp5": "INTEGER",
    "AcceptedCmp1": "INTEGER",
    "AcceptedCmp2": "INTEGER",
    "Complain": "INTEGER",
    "Z_CostContact": "INTEGER",
    "Z_Revenue": "INTEGER",
    "Response": "INTEGER",
}






create_table_sql = f'''
    CREATE TABLE IF NOT EXISTS df (
        {', '.join([f"{col} {sqlite_data_types[col]}" for col in df.columns])}
    )
'''
cursor.execute(create_table_sql)

for _, row in df.iterrows():
    values = ', '.join([f"'{row[col]}'" if sqlite_data_types[col] == 'TEXT' else str(row[col]) for col in df.columns])
    insert_sql = f'''
        INSERT INTO df
        VALUES ({values})
    '''
    cursor.execute(insert_sql)

conn.commit()

# Step 4: Run SQL queries on the database
# Example 1: Select all rows from the table
# cursor.execute("Select * from df order by Income desc limit 20")
cursor.execute(sql_query)
results = cursor.fetchall()
# Step 5: Close the database connection
conn.close()
print(results)

[(0,)]

In [12]:
pd.DataFrame(results)

   0
0  0

In [6]:
type(df['NumDealsPurchases'][0])

numpy.int64